* {
    font-family: "IM Fell Double Pica", "New Tegomin";
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #ffc002;
    color: #333;
}

a {
    color: inherit;
    text-decoration: none;
}

.container{
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.section-title{
    font-size: 64px;
    letter-spacing: 0.1em;
    display: inline-block;
}

@media (max-width: 768px) {
    .section-title{
        font-size: 44px;
    }
}

header{
    position: fixed;
    z-index: 9999;
    height: 80px;
    width: calc(100% - 20px);
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: rgb(255, 255, 255, 40%); */
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 30%);
    border-radius: 10px;
}

header ul{
    display: flex;
    list-style: none;
    column-gap: 60px;
    justify-content: space-between;
}

header .container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header a{
    font-size: 20px;
    color: #fff;
}

@media (max-width: 768px) {
    header ul{
        column-gap: 20px;
    }

    header a{
        font-size: 18px;
    }
}

.firstview p {
    color: #fff9ef;
    font-size: 120px;
    position: absolute;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 30%);
}

.firstview p:nth-child(1){
    top: 17%;
    left: 15%;
    z-index: 1;
}

.firstview p:nth-child(2){
    right: 17%;
    bottom: 17%;
    z-index: 2;
}

.firstview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffc002;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px), 
        linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
    background-size: 60px 60px;
    background-position: center;
}

.firstview .firstview_img{
    top: 20px;
    position: relative;
}

.about{
    padding: 300px 0px;
}

.profile{
    display: flex;
    column-gap: 5%;
}

.profile p{
    max-width: 590px;
    margin-top: 24px;
    font-size: 16px;
    letter-spacing: 0.1em;
    line-height: 2.2;
}

.profile span{
    font-weight: bold;
}

.profile .profile_img{
    width: 50%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 2px), 
        linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1px, transparent 2px);
    background-size: 30px 30px;
    background-position: center;
}

.profile_img img{
    width: 100%;
}

.school-club{
    margin-top: 200px;
    display: flex;
    column-gap: 5%;
}

.school-club .content{
    width: 100%;
}

.school-club img{
    width: 100%;
    height: 300px;
    border-radius: 16px;
    object-fit: cover;
}

.school-club h3{
    margin-top: 8px;
}

.school-club p{
    margin-top: 16px;
}

.school-club a{
    display: inline-block;
    margin-top: 32px;
    font-weight: bold;
    border-bottom: 1px solid #333;
}

@media (max-width: 768px) {
    .firstview h1{
        font-size: 56px;
    }

    .about {
        padding: 80px 0px;
    }

    .profile{
        flex-direction: column;
        row-gap: 24px;
    }

    .profile h3{
        margin-top: 24px;
    }

    .profile p{
        margin-top: 16px;
    }

    .profile img{
        width: 100%;
    }

    .school-club{
        flex-direction: column;
        row-gap: 40px;
        margin-top: 100px;
    }

    .school-club img{
        height: 220px;
    }

    .school-club a{
        margin-top: 24px;
    }
}

.gallery {
    padding: 125px 0;
    background-color: #ffc002;
    text-align: center;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px), 
        linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
    background-size: 40px 40px;
    background-position: center;
}

.gallery .container{
    max-width: 1400px;
}

.gallery .section-title {
    color: #fff;
    margin-bottom: 80px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 30%);
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 2%;
}

.gallery-item {
    width: 32%;
}

.gallery-item img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.gallery-item p {
    margin-top: 2px;
    font-size: 14px;
    color: #fff;
    text-align: right;
    font-style: italic;
}

@media (max-width: 768px) {
    .gallery {
        padding: 80px 0;
    }

    .gallery-list {
        gap: 20px;
    }

    .gallery-item {
        width: 100%;
    }
}

/* .club{
    padding: 140px 0;
    background-color: #fff9ef;
}

.club .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.club-text{
    z-index: 4;
    width: 40%;
}

.club-text h2{
    font-size: 48px;
}

.club-text p{
    margin-top: 16px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: 0.1em;
}

.club-img{
    position: relative;
    width: 50%;
    aspect-ratio: 1/1.25;
}

.club-img img{
    position: absolute;
}

.club-img img:nth-child(1){
    top: 0;
    left: 0;
    width: 65%;
    z-index: 3;
}

.club-img img:nth-child(2){
    top: 30%;
    left: 8%;
    width: 85%;
    z-index: 1;
}

.club-img img:nth-child(3){
    right: 0;
    bottom: 0;
    width: 40%;
    z-index: 2;
}

@media (max-width: 768px) {
    .club{
        padding: 80px 0px;
    }

    .club .container{
        flex-direction: column;
        row-gap: 15px;
    }

    .club-img{
        width: 100%;
    }

    .club-text{
        width: 100%;
    }

    .club-text h2{
        font-size: 32px;
    }

    .club-text p{
        font-size: 14px;
    }
} */

/* .favorite{
    padding: 140px 0px;
    text-align: center;
    background-image: url("img/favorite-background.png");
    background-position: center;
    background-size: cover;
}

.favorite .section-title{
    color: #fff;
    border-bottom: #fff 6px double;
}

.favorite-contents{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    column-gap: 16px;
}

.favorite-content{
    width: 320px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 80%);
    border-radius: 16px;
}

.favorite-content img{
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.favorite-content h3{
    margin-top: 24px;
    font-size: 24px;
}

.favorite-content p{
    margin-top: 8px;
    font-size: 16px;
    text-align: left;
}

@media (max-width: 768px) {
    .favorite{
        padding: 80px 0px;
    }

    .favorite-contents{
        flex-direction: column;
        row-gap: 40px;
        align-items: center;
    }

    .favorite-content{
        max-width: 100%;
    }

    .favorite-content img{
        width: 200px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        max-width: 100%;
    }
} */

.works{
    padding: 140px 0px;
    text-align: center;
    background-color: #ffc002;
}

/* .works .section-title{
    border-bottom: #f90 3px solid;
} */

.works-content{
    display: flex;
    /* background-color: rgba(255, 255, 255, 0.8); */
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 20px;
    margin-top: 40px;
    column-gap: 32px;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 15%); */
}

.works-content img{
    width: 400px;
    aspect-ratio: 2/1;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    object-fit: cover;
    box-shadow: 0 0 5px rgba(0, 0, 0, 15%);
}

.works-content h3{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    column-gap: 16px;
    font-size: 28px;
}

.works-content p{
    margin-top: 16px;
    font-size: 16px;
}

.works-content span{
    font-size: 16px;
}

@media (max-width: 768px) {
    .works{
        padding: 80px 0px;
    }

    .works-content{
        flex-direction: column;
        row-gap: 24px;
        padding: 20px;
    }

    .works-content img{
        width: 100%;
    }

    .works-content h3{
        justify-content: center;
    }
}

.contact{
    padding: 80px 0px;
    text-align: center;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px), 
        linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
    background-size: 40px 40px;
    background-position: center;
}

.contact .container{
    max-width: 800px;
}

.contact .section-title{
    color: #fff;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 30%);
}

/*.contact p{
    margin-top: 48px;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 0.1em;
} */

.contact a{
    display: inline-block;
    width: 200px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    line-height: 60px;
    letter-spacing: 0.1em;
    border-radius: 16px;
}

.contact a:hover{
    opacity: 0.8;
}

.contact .sns{
    display: flex;
    column-gap: 60px;
    justify-content: center;
    margin-top: 50px;
}

.contact .sns-x{
    background-color: #aa00ba;
}

.contact .sns-facebook{
    background-color: #3b5998;
}

.contact .sns-website{
    background-color: #000000;
}

@media (max-width: 768px) {
    .contact{
        padding: 80px 0px;
    }

    .contact p{
        font-size: 20px;
    }

    .contact .sns{
        flex-direction: column;
        row-gap: 10px;
        margin-top: 50px;
    }

    .contact a{
        width: 100%;
        line-height: 60px;
    }
}

footer{
    color: #fff9ef;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    /* background-color: rgba(237, 236, 231, 0.5); */
    font-size: 14px;
    letter-spacing: 0.1em;
    text-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px), 
        linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
    background-size: 40px 40px;
    background-position: center;
}